<h3>What is your name?</h3>

<form action="/new_player" method="post"> <!-- post means that is will be mapped to a --> <!-- diff path -->
  <input type= "text" name="player_name"/>
  <br/>
  <input type="submit" class="btn"/>
</form>